MODEL_GEMINI_API_KEY=YOUR_GEMINI_API_KEY
MODEL_OPENAI_API_KEY=YOUR_OPENAI_API_KEY
MODEL_KIMI_API_KEY=YOUR_KIMI_API_KEY
MODEL_GLM_API_KEY=YOUR_GLM_API_KEY
PROC_MANAGER_DISCOVERY_BASE_URL=https://dinya.wind-mintaka.ts.net
PROC_MANAGER_QUICK_TUNNEL_API_TOKEN=
